In [76]:
import pandas as pd

In [77]:
df=pd.DataFrame()

In [78]:
name=["Sivant","Siva","Starr","King"]

In [79]:
values=[25,50,75,100]

In [80]:
df=pd.DataFrame(name,values)

In [81]:
df

          0
25   Sivant
50     Siva
75    Starr
100    King

In [82]:
data={"a":1,"b":2,"c":3,"d":4}

In [83]:
dic=pd.DataFrame(data.items())

In [84]:
dic

   0  1
0  a  1
1  b  2
2  c  3
3  d  4

In [85]:
dlist=[["a",4],["b",13],["c",18]]

In [86]:
ddf=pd.DataFrame(dlist,index=[1,2,3],columns=["name","age"])

In [87]:
ddf

  name  age
1    a    4
2    b   13
3    c   18

In [88]:
print("Dataframe using index and columns!!!")

Dataframe using index and columns!!!

In [89]:
dicdf=pd.DataFrame(data.items(),index=[1,2,3,4],columns=["Words","Values"])

In [90]:
dicdf

  Words  Values
1     a       1
2     b       2
3     c       3
4     d       4

In [105]:
d={"Name":["sivant","starr"],"Number":[4,13]}

In [106]:
didf=pd.DataFrame(d,index=[1,2])

In [107]:
didf

     Name  Number
1  sivant       4
2   starr      13

In [111]:
didf["Name"][2]=""

C:\Users\Sivant\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [112]:
didf

     Name  Number
1  sivant       4
2              13

In [113]:
didf.drop(didf.loc[didf["Name"]=="starr"].index,inplace=True)

In [114]:
didf

     Name  Number
1  sivant       4
2              13

In [110]:
didf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 1 to 2
Data columns (total 2 columns):
Name      2 non-null object
Number    2 non-null int64
dtypes: int64(1), object(1)
memory usage: 128.0+ bytes