In [1]:
from sklearn.datasets import load_digits as d

In [2]:
from sklearn import preprocessing as p

In [3]:
digit=d()

In [4]:
digit.data.shape

(1797, 64)

In [5]:
x=digit.data

In [6]:
#normailize
n=p.normalize(x)

In [7]:
n

array([[0.        , 0.        , 0.09024036, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.15413829, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.24153867, 0.1358655 ,
        0.        ],
       ...,
       [0.        , 0.        , 0.0140138 , ..., 0.08408278, 0.        ,
        0.        ],
       [0.        , 0.        , 0.03044313, ..., 0.18265877, 0.        ,
        0.        ],
       [0.        , 0.        , 0.14230641, ..., 0.17076769, 0.01423064,
        0.        ]])

In [8]:
#standardize
s=p.scale(x)

In [9]:
s

array([[ 0.        , -0.33501649, -0.04308102, ..., -1.14664746,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -1.09493684, ...,  0.54856067,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -1.09493684, ...,  1.56568555,
         1.6951369 , -0.19600752],
       ...,
       [ 0.        , -0.33501649, -0.88456568, ..., -0.12952258,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -0.67419451, ...,  0.8876023 ,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649,  1.00877481, ...,  0.8876023 ,
        -0.26113572, -0.19600752]])

In [10]:
s.mean(),s.std()

(8.649483775599439e-19, 0.9762812094883324)

In [11]:
from sklearn.datasets import load_breast_cancer as b

In [12]:
bc=b()

In [13]:
y=bc.data

In [14]:
print(y)

[[1.799e+01 1.038e+01 1.228e+02 ... 2.654e-01 4.601e-01 1.189e-01]
 [2.057e+01 1.777e+01 1.329e+02 ... 1.860e-01 2.750e-01 8.902e-02]
 [1.969e+01 2.125e+01 1.300e+02 ... 2.430e-01 3.613e-01 8.758e-02]
 ...
 [1.660e+01 2.808e+01 1.083e+02 ... 1.418e-01 2.218e-01 7.820e-02]
 [2.060e+01 2.933e+01 1.401e+02 ... 2.650e-01 4.087e-01 1.240e-01]
 [7.760e+00 2.454e+01 4.792e+01 ... 0.000e+00 2.871e-01 7.039e-02]]

In [15]:
#normalize
o=p.normalize(y)

In [16]:
print(o)

[[7.92541486e-03 4.57286305e-03 5.40989964e-02 ... 1.16920795e-04
  2.02695018e-04 5.23808686e-05]
 [8.66575595e-03 7.48616836e-03 5.59882822e-02 ... 7.83583182e-05
  1.15852352e-04 3.75024596e-05]
 [9.36668268e-03 1.01087865e-02 6.18419883e-02 ... 1.15596947e-04
  1.71873157e-04 4.16624718e-05]
 ...
 [1.16438847e-02 1.96964025e-02 7.59658259e-02 ... 9.94640269e-05
  1.55579134e-04 5.48525170e-05]
 [9.23020523e-03 1.31418408e-02 6.27743569e-02 ... 1.18738077e-04
  1.83125480e-04 5.55604587e-05]
 [2.31098880e-02 7.30820427e-02 1.42709515e-01 ... 0.00000000e+00
  8.55006294e-04 2.09626935e-04]]

In [17]:
#standardize
q=p.scale(y)
print(q)

[[ 1.09706398 -2.07333501  1.26993369 ...  2.29607613  2.75062224
   1.93701461]
 [ 1.82982061 -0.35363241  1.68595471 ...  1.0870843  -0.24388967
   0.28118999]
 [ 1.57988811  0.45618695  1.56650313 ...  1.95500035  1.152255
   0.20139121]
 ...
 [ 0.70228425  2.0455738   0.67267578 ...  0.41406869 -1.10454895
  -0.31840916]
 [ 1.83834103  2.33645719  1.98252415 ...  2.28998549  1.91908301
   2.21963528]
 [-1.80840125  1.22179204 -1.81438851 ... -1.74506282 -0.04813821
  -0.75120669]]

In [18]:
q.mean(),q.std()

(-6.118909323768877e-16, 1.0)

In [19]:
import pandas as pd

In [20]:
a=["sivant","starr"]
b=[1,2]
one=pd.DataFrame([a,b],columns=["Name","Value"])
c=[["king",3],["",4]]
two=pd.DataFrame(c,columns=["Name","Value"])
d={"Name":["scientist","cashew"],"Value":[5,6]}
three=pd.DataFrame(d)

In [21]:
with pd.ExcelWriter("Name.xlsx") as e:
    one.to_excel(e,sheet_name="One")
    two.to_excel(e,sheet_name="Two")
    three.to_excel(e,sheet_name="Three")

In [22]:
xr=pd.read_excel("Name.xlsx","One")
xd=pd.DataFrame(xr)
xd.info()
xd.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
Unnamed: 0    2 non-null int64
Name          2 non-null object
Value         2 non-null object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

       Unnamed: 0
count    2.000000
mean     0.500000
std      0.707107
min      0.000000
25%      0.250000
50%      0.500000
75%      0.750000
max      1.000000

In [23]:
xr=pd.read_excel("Name.xlsx","Two")
xd=pd.DataFrame(xr)
xd.info()
xd.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
Unnamed: 0    2 non-null int64
Name          1 non-null object
Value         2 non-null int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes

       Unnamed: 0     Value
count    2.000000  2.000000
mean     0.500000  3.500000
std      0.707107  0.707107
min      0.000000  3.000000
25%      0.250000  3.250000
50%      0.500000  3.500000
75%      0.750000  3.750000
max      1.000000  4.000000

In [24]:
xr=pd.read_excel("Name.xlsx","Three")
xd=pd.DataFrame(xr)
xd.info()
xd.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
Unnamed: 0    2 non-null int64
Name          2 non-null object
Value         2 non-null int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes

       Unnamed: 0     Value
count    2.000000  2.000000
mean     0.500000  5.500000
std      0.707107  0.707107
min      0.000000  5.000000
25%      0.250000  5.250000
50%      0.500000  5.500000
75%      0.750000  5.750000
max      1.000000  6.000000