In [48]:
import pandas as pd

In [49]:
data={"Name":["Sivant","Starr","king"],"Ranking":[1,2,3]}

In [50]:
df=pd.DataFrame(data,index=[1,2,3],columns=["Name","Ranking"])

In [51]:
df

     Name  Ranking
1  Sivant        1
2   Starr        2
3    king        3

In [56]:
j=1;
for i in df["Name"]:
    if(i=="king"):
        df["Name"][j]=""
    j=j+1

C:\Users\Sivant\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [57]:
df

     Name  Ranking
1  Sivant        1
2   Starr        2
3                3